// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
  height: 90px;
  width: 90px;
  background: #CCCCCC;
  padding: 10px;
  border: 5px #5599C9;
  margin: 0;
  text-decoration-color: #FFFFFF;
  text-align: center;
}
